---
layout: default
title: Blog
---
<div class="container">
  <h1 class="main-name" style="padding-top: 50px">Blog</h1>
  <div class="blog-posts">
    {% for post in site.posts %}
    <div class="blog-post spacing">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="summary">
        {% if post.category == "personal" %}
        <span class="label label-primary">{{ post.category }}</span>
        {% elsif post.category == "self-improvement" %}
        <span class="label label-info">{{ post.category }}</span>
        {% elsif post.category == "finance" %}
        <span class="label label-success">{{ post.category }}</span>
        {% elsif post.category == "warning" %}
        <span class="label label-primary">{{ post.category }}</span>
        {% else %}
        <span class="label label-default">{{ post.category }}</span>
        {% endif %}
        <span class="date">
          <strong>{{ post.date | date: '%B %d, %Y' }}</strong>
        </span>
      </p>
      <i>{{ post.excerpt }}...</i>
    </div>
    {% endfor %}
  </div>
</div>
{% include footer.html %}