<div style="background-color: #272727;
  border-bottom:2px solid lightgrey;
  border-top:2px solid lightgrey;
  padding-top: 20px;
  height: 285px;
  width: 100%;
  text-align: center;">
  <h3 style="font-family: 'Merriweather', serif; color: white">Contact</h3>
  <p style="color: white; padding: 20px;">Want to reach me? Have a cool idea? Or do you simply want to drop a line?</p>
  <a href="mailto:me@olsispahiu.com?subject=Wanted to drop a line Olsi!">
    <img style="height:25%;" src='{{ baseurl }}/images/email_logo.png'/>
  </a>
  <a href="https://www.linkedin.com/in/olsispahiu/">
    <img style="height:25%;" src='{{ baseurl }}/images/linkedin_logo.png'/>
  </a>
  <a href="https://github.com/ospahiu">
    <img style="height:25%;" src='{{ baseurl }}/images/github_logo.png'/>
  </a>
  <a href="https://stackoverflow.com/story/olsispahiu">
    <img style="height:25%;" src='{{ baseurl }}/images/stackoverflow_logo.png'/>
  </a>
  <a href="https://medium.com/@olsispahiu15">
    <img style="height:25%;" src='{{ baseurl }}/images/medium_logo.png'/>
  </a>
</div>
<footer style="box-shadow: 0px 500px 0px 500px #1D1D1D;">
  <div class="container" style="padding: 15px;">
    <p style="color: dimgrey;" class="center-text">Copyright © 2018 Olsi Spahiu - <a
      href="https://github.com/ospahiu/olsi-spahiu-website">View Source on GitHub</a></p>
  </div>
</footer>