<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="/css/syntax.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather|Roboto|Source+Sans+Pro:200,300,400,700'
        rel='stylesheet'>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
</head>
<title>{{ page.title }}</title>
<body>
{% include header.html %}
<div class="content">
  {{ content }}
</div>
</body>
</html>